@model ChargingStationWeb.Models.ViewModel.IndexViewModel

<section>
    <div style="height: 100%;">
        <div class="row g-0" style="height: 100%;">
            <!-- Map -->
            <div class="col-9" style="height: 100%;">
                <div id="map" style="height: 100%;"></div>
            </div>
            <!-- Infomation -->
            <div class="col-3 pt-5 p-3">
                <h2 class="text-center">Tỉnh thành</h2>
                <div class="input-group mb-3">
                        <input type="text" class="form-control">
                        <button class="btn btn-outline-primary" type="button">Search</button>                        
                </div>

                <ul class="list-group list-group-flush lead">
                    <li class="list-group-item">
                        <span class="fw-bold">MIỀN BẮC</span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">MIỀN TRUNG</span>
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">MIỀN NAM</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

@section Scripts{
            <script src="~/js/script.js"></script>
}